<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}" data-theme="light">
<head>
    <title>{{ .Title }}</title>
    {{ partial "head.html" . }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anaheim&display=swap" rel="stylesheet">
</head>

<body>
{{ partial "header.html" . }}
<main>
  {{ block "main" . }}
  {{ end }}
</main>
{{ partial "footer.html" . }}
</body>
</html>
