@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap');

body {
  font-family: 'Anaheim', sans-serif;
  font-size: 0.9rem;   /* slightly smaller text */
  line-height: 1.5;     /* tighter line spacing (default is often 1.6–1.8) */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1 !important;
  margin-top: 14px;
  margin-bottom: 25px;
}

.platform-icons {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black; /* light mode */
}

.platform-icons img {
  width: 48px;
  height: 48px;
  display: block;
}

/* separator styling */
.platform-icons .sep {
  opacity: 0.8;
  color: black;
  font-size: 2rem;

}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .platform-icons {
    color: #eee;
  }
}