---
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap');


html {
  scroll-behavior: smooth;
  font-family: "Anaheim", sans-serif;
}

.wrapper {
  max-width: 1000px; /* Default width */
  margin: 0 auto;
  padding: 0 15px;
}

// Color variables

$primary-color: #C07858;
$secondary-color: #A9B4AC;
$text-color: #3C3D42;
$background-color: #FEF9EF;
$container-max-width: 1200px;
$container-padding: 15px;
$font-family-base: "Anaheim", sans-serif;

body {
  font-family: $font-family-base;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-weight: 500;
  margin-bottom: 1rem;
}

h1 { font-size: 250%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }
h4 { font-size: 110%; }
h5 { font-size: 100%; }
h6 { font-size: 90%; }

// Paragraphs
p {
  margin-bottom: 1rem;
  color: $text-color;
}

// --------------------------
// Containers
// --------------------------

.minimal-container {
      background-color: #838C8B;
      color: #FEF9EF;
      border-radius: 12px;
      padding: 40px 30px;
      max-width: 350px;
      width: 90%;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      text-align: center;
    }

.container {
  background-color: #FEF9EF;
  max-width: $container-max-width;
  margin-left: auto;
  padding: 40px 30px;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}



table {
  border: 1px solid #FEF9EF;
  border-collapse: collapse;
  vertical-align: top;
  background-color: $background-color;

  td {
  border: 1px solid #FEF9EF;
  border-collapse: collapse;
  background-color: $background-color;
  }
  
  
  a:hover {
    background: #FEF9EF;
  filter: brightness(1.1);
  }
}


// Accordian code
