---
---

 @import "minima";
 @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');


 .wrapper {
  max-width: 1200px; /* Default width */
  margin: 0 auto;
  padding: 0 15px;
}

/**
 * Basic styling
 */
 body {
  font-family: 'Lora', sans-serif;
  color: #1e2128;
  background-color: #f0efed;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

::selection {
  background: #d1dba2;
}

/**
 * Code formatting
 */
 pre,
 code {
   font-size: 15px;
   border: 1px solid #e8e8e8;
   border-radius: 3px;
   background-color: #eef;
 }
 
 code {
   padding: 1px 5px;
   color: #21989e;
   background-color: #eae8e3;
   border: 1px solid #bbbab6;
   border-radius: 3px;
 }
 
 pre {
  color: #21989e;
  background-color: #eae8e3;
    padding: 8px 12px;
   overflow-x: auto;
   box-shadow: inset 02px 2px 5px #bbbab6;
   
 }
 pre > code {
   border: 0;
   padding-right: 0;
   padding-left: 0;
 }
 
 /* Links
 */
a {
  color: #16949b;
  text-decoration: none;
}

a:visited {
  color: #302f2f;
}
a:hover {
    text-decoration: none;
    color: #1e2128;
    background-color: #c9ddde; /* Example color: Gold */
    border-radius: 3px; /* Adjust to make the corners rounded */
    display: inline-block; /* Makes the background fit the text */
}
.social-media-list a:hover {
  text-decoration: none;    
}
.social-media-list a:hover .username {
  text-decoration: underline;
}

/**
 * Site header
 */
 .site-header {
    border-top: 8px solid #0a1838;
    border-bottom: 1px solid #d3cfc9;
    min-height: 55.95px;
    position: relative;
  }
  
  .site-title {
    font-size: 26px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
  }
  
  .site-title, .site-title:visited, .site-title:hover {
    color: #1e2128;
    background-color: none;
  }

  .round-container {
    background-color: #eae8e3;
    border: 1px solid #d3cfc9;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 10px #cfcdc9;
    justify-content: space-between;
  }

  .post-title {
    font-size: 30px;
    /*font-weight: bold;*/
    line-height: 1;
    text-align: center;
  }

  h1 {
    
    font-size: 30px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 25px;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  
  h4 {
    font-size: 16px;
    font-weight: bold;
  }

  .post-content {
    margin-bottom: 30px;
    text-align: justify;
  }
  
  /* Style for the container */
  .maincontainer {
    /* background-color: #eae8e3; */
    /* border: 1px solid #d3cfc9; */
    /* border-radius: 1px; */
    padding: 5px;
    margin-bottom: 20px;
    /* box-shadow: inset 0 0 10px #cfcdc9; */
   display: flex;
   justify-content: space-between;
}


 /* Style for the columns */
 .column {
  padding: 5px; /* Add some padding for spacing */
}

/* Style for the left container */
.left-container {
  width: 20%; /* 20% width for the left container */
  position: sticky;
  top: 20px; /* Adjust top offset as needed */
  overflow-y: auto;
  height: calc(100% - 40px);
}

 /* Style for the right container */
 .right-container {
  width: 80%; /* 80% width for the right container */
}
  /* Style for the sidebar */
  .sidebar {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

.sidebar a {
    text-decoration: none;
    color: #1e2128;
    display: block;
    border: 2px solid #f0efed  ;
}

.sidebar a:hover {
    color: #1e2128;
    display: block;
    background-color: #d1cdc7;
    border: 2px solid #1e2128  ;
}


 /* Style for right containers */
 .mainbar {
  padding-left: 5px;
  margin-bottom: 5px;
  border-left: 2px solid rgb(235, 231, 224);
  border: 2px solid rgb(235, 231, 224);
  font-size: 14px;
  text-align: left;
}

.mainbar:hover {
  border-left: 2px solid #dfdad3  ;
  border: 2px solid #dfdad3;
  color: #000000;
} 

.mainbar h3 { 
  font-weight: bold;
  font-size: 20px;
  border-bottom: 2px solid #3e3831;
  padding-bottom: 2px;
}

.mainbar h4 { 
  font-size: 18px;
  text-decoration: underline;
}

/* Styles for badges */

.yearbadge {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 12px;
  background-color: #efd391;
  color: #1e2128;
  display: inline-block;
  padding: 0px 5px;
  box-shadow: 0 2px 4px #ab986a; /* Shadow effect */
  text-shadow: 2px 2px 4px #ab986a; /* Add shadow effect to the text */
  border-radius: 4px; /* Adjust border-radius as needed for roundness */
  border-right: 2px solid #ab986a  ;
}

.badge-container {
  display: inline-block;
  font-family: "Times New Roman", Times, serif; /* Change font to Times New Roman */
  font-size: 11px;
  font-weight: normal;
  border-radius: 4px; /* Adjust border-radius as needed for roundness */
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow effect */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); /* Add shadow effect to the text */
  text-rendering: "geometricPrecision";
  margin-bottom: 0px;
}
.content {
  display: inline-block;
  background-color: #0f81c1;
  color: #fffbee;
  padding: 1px 5px;
  margin-right: 0; /* Remove margin between elements */
}
  .content:hover{
    text-decoration: none;
    display: inline-block; /* Makes the background fit the text */
    background-color: none;
    margin-right: 0; /* Remove margin between elements */
  

}
.doi {
  background-color: #4f4f4f;
    text-rendering: "geometricPrecision";
    color: #fff;
    background-color: none;
    font-family: "Verdana,Geneva,DejaVu Sans,sans-serif";
}

.publications-container {
  font-size: 14px;
}

.entry-container {
  width: 100%;
  font-family: 'Lora', sans-serif;
  display: inline-table;
  vertical-align: top
  }

  .eighty {
  width: 88%;
  
}
.twenty {
  width: 10%;
  
}

/* Styles for projects: grid layout */

/* Styles for the grid layout */
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 columns grid */
      gap: 10px;
    }

    /* Adjust for smaller screens */
    @media (max-width: 768px) {
      .grid-container {
        grid-template-columns: 1fr; /* 1 column grid for very small screens */
      }
    }

    .project-box {
      padding: 20px;
      border: 2px solid rgb(235, 231, 224);
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      max-height: 175px; /* Allow room for the image and some padding */
      overflow: hidden;
      background-color: none;
      text-align: center;
      position: relative;
      grid-column: span 1; /* Default span 1 column */
    }

    .project-box:hover {
      transform: scale(1.01);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border: 2px solid #dfdad3;
    }

    .project-box.expanded {
      max-height: none; /* Remove max-height when expanded */
      grid-column: span 2; /* Expand to full width */
    }

    .project-image {
      width: 100%;
      height: auto;
      max-height: 100px; /* Controlled height in collapsed state */
      object-fit: cover; /* Maintain aspect ratio */
      filter: grayscale(100%); /* Apply black-and-white effect */
      transition: all 0.3s ease;
    }

    .project-box:hover .project-image {
      filter: grayscale(0%); /* Remove black-and-white effect on hover */
    }

    .project-box.expanded .project-image {
      max-height: 500px; /* Maximum height when expanded */
      width: 60%; /* Center image */
      margin: 0 auto; /* Center the image */
    }

    .project-title {
      margin: 10px 0; /* Add space around the title */
      font-size: 1.2em; /* Adjust font size as needed */
    }

    .project-details {
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.5s ease, transform 0.5s ease;
      margin-top: 10px;
      display: none;
      text-align: left; /* Align text to left */
    }

    .project-box.expanded .project-details {
      opacity: 1;
      transform: translateY(0);
      display: block;
    }

    .progress-container {
      width: 80%;
      max-width: 400px;
      margin-bottom: 20px;
      background-color: #eae8e3;
  }
    progress {
      width: 200px;
      height: 15px;
      color: #489ea2;
      border-radius: 5px;
      border: 2px solid #100d09;
      overflow: hidden;
      box-shadow: 10px 10px 10px #eae8e3;
      appearance: none;
  }

  

progress::-webkit-progress-value { color: #000;  background: #489ea2; }


  

/* Styles Dissertations */

.collapsible-list {
  margin: 20px 0;
  padding: 0px;
  border: none;
  list-style-type: none; /* Remove default list styles */
}

/* Style for each collapsible item container */
.collapsible-item {
  margin: 0px; /* Space between each item */
  overflow: hidden; /* Prevent content overflow */
  }

.collapsible-title {
  color: #3e3831;
  background-color: #eae8e3;
  cursor: pointer;
  border: none;
  padding: 5px;
  width: 100%;
  text-align: left;
  outline: none;
  margin-bottom: 0px;
  font-weight: bold;
}


.collapsible-title:after {
  content: '\002B'; /* Unicode character for "plus" sign */
  color: #3e3831;
  font-weight: bold;
  float: right;
}

.collapsible-title.active:after {
  content: "\2212"; /* Unicode character for "minus" sign */
}

.collapsible-content {
  padding-left: 15px;
  padding-right: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  border-radius: 10px;
}

.collapsible-content p {
  margin: 0 0 10px;
  font-size: 12px;
}

.collapsible-content img {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

/* CSSfor collaborators */

#collaborators {
  padding: 0px;
}

.colbadges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colbadge {
  background: #ebe7e0;
  border-radius: 8px;
  padding: 2.5px;
  text-align: center;
  width: 220px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.colbadge:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0,0,0,0.2);
}

.colbadge h3 {
  margin: 0;
  font-size: 1em;
}

.colbadge p {
  margin: 5px 0;
  font-size: 0.8em;
}