<div class="platform-icons" >
  <a href="https://portal.findresearcher.sdu.dk/da/persons/muha" target="_blank" rel="noopener";>
    <img src="/images/platforms/uni.svg" alt="Icon 1" height="60">
  </a>
  <span class="sep">|</span>
  <a href="https://www.linkedin.com/in/usmanhnf" target="_blank" rel="noopener">
    <img src="/images/platforms/linkedin.svg" alt="Icon 2" height="48">
  </a>
  <span class="sep">|</span>
  <a href="https://github.com/usmanhnf" target="_blank" rel="noopener">
    <img src="/images/platforms/github.svg" alt="Icon 3" height="48">
  </a>
  <span class="sep">|</span>
  <a href="https://scholar.google.com.pk/citations?user=v-OxcFMAAAAJ&hl=en&oi=ao" target="_blank" rel="noopener">
    <img src="/images/platforms/scholar.svg" alt="Icon 4" height="48">
  </a>
  <span class="sep">|</span>
  <a href="https://www.researchgate.net/profile/Usman_Hanif3" target="_blank" rel="noopener">
    <img src="/images/platforms/researchgate.svg" alt="Icon 5" height="48">
  </a>
  <span class="sep">|</span>
  <a href="https://www.webofscience.com/wos/author/record/D-9996-2019" target="_blank" rel="noopener">
    <img src="/images/platforms/webofscience.svg" alt="Icon 6" height="48">
  </a>
  <span class="sep">|</span>
  <a href="https://www.scopus.com/authid/detail.uri?authorId=55737908100" target="_blank" rel="noopener">
    <img src="/images/platforms/scopus.svg" alt="Icon 7" height="48">
  </a>
  <span class="sep">|</span>
  <a href="https://orcid.org/0000-0002-1490-2350" target="_blank" rel="noopener">
    <img src="/images/platforms/orcid.svg" alt="Icon 8" height="48">
  </a>
</div>    